---
import Section from "@utils/Section.astro";
import EducationItem from "@components/education/EducationItem.astro";
---
<Section id="education" title="Formación">
    <ol class="relative border-s border-slate-200">
        <EducationItem institution="Universidad Tecnológica Nacional INSPT" period="Universidad | 2021 - Presente">
            Formándome como <strong>Técnico Superior en Informática Aplicada</strong>, adquirí habilidades para
            <strong>analizar,
                diseñar, programar y mantener software</strong>, y administrar <strong>recursos
            informáticos</strong>.
            Tengo experiencia colaborando en equipos interdisciplinarios y desarrollando soluciones en <strong>Ecommerce,
            CRM, ERP</strong> y <strong>Data Science</strong>. También capacito a usuarios en el uso óptimo de
            <strong>hardware y software</strong>.
        </EducationItem>
        <EducationItem institution="Escuela Técnica Fragata Libertad" period="Secundaria | 2014 - 2020">
            Graduado como <strong>Técnico en Computación</strong>, capacitado para <strong>instalar, configurar y
            mantener sistemas informáticos</strong> y <strong>desarrollar aplicaciones de software</strong>.
            Experiencia en <strong>paradigmas de programación</strong> y trabajo en equipo con <strong>metodologías
            ágiles</strong>.
        </EducationItem>
        <EducationItem institution="Key To Language Success" period="Inglés | 2007 - 2013">
            Formación complementaria en <strong>inglés</strong> en una institución
            especializada, en combinación a evaluaciones <strong>escritas y orales</strong> con certificaciones de
            <a
                    class="text-blue-400 hover:text-blue-500" target="_blank"
                    href="https://ieslvf-caba.infd.edu.ar/sitio/"
                    rel="noopener noreferrer"
                    aria-label="Sitio oficial de Lenguas Vivas (se abre en una nueva pestaña)">Lenguas Vivas</a>,
            alcanzando un nivel avanzado que me
            permite comunicarme y colaborar en equipos
            internacionales.
        </EducationItem>
    </ol>
</Section>