---
const {icon: Icon, href, label, title} = Astro.props;
---
<li class="group relative font-semibold flex items-center gap-3 bg-none border border-indigo-400 hover:border-indigo-200 px-2 pb-0.5 pt-1 rounded-lg transform duration-300 hover:scale-105">
    <a href={href} target="_blank" rel="noreferrer noopener" aria-label={title} title={title}>
        <span class="absolute -inset-y-1 -inset-x-0.5 rounded"></span>
        <Icon class="h-6 w-6 sm:h-7 sm:w-7 lg:h-8 lg:w-8"/>
    </a>
    <span class="text-xs sm:text-sm lg:text-base">{label}</span>
</li>