---
import NavLink from "./NavLink.astro";
---

<nav class="fixed top-0 left-0 w-full z-50 font-semibold flex justify-around items-center h-[10vh] bg-slate-900 bg-opacity-80 backdrop-blur">
    <ul class="flex gap-8">
        <NavLink href="#home" text="Inicio"/>
        <NavLink href="#about" text="Sobre mí"/>
        <NavLink href="#education" text="Formación"/>
        <NavLink href="#projects" text="Proyectos"/>
    </ul>
</nav>