---
import Section from "@components/utils/Section.astro";
---
<Section id="about" title="Sobre Mí">
    <div class="text-pretty font-medium space-y-8">
        <p>
            Soy un <strong>desarrollador apasionado</strong> por la tecnología, me caracterizo por mi fuerte enfoque en
            la <strong>resolución
            de problemas</strong> y la creación de <strong>soluciones innovadoras</strong>. Soy una persona
            <strong>curiosa</strong>,
            <strong>proactiva</strong> y <strong>adaptable</strong>, siempre en busca de desafíos que me permitan
            <strong>crecer
                profesionalmente</strong> y aportar valor en cada proyecto que abordo.
        </p>

        <p class="text-slate-400">
            En mi tiempo libre disfruto de actividades que complementan mi desarrollo profesional, con el mental y
            físico.
            Disfruto de la lectura y el ajedrez. Me intereso por temas como la <strong>ciencia</strong>, la
            <strong>física</strong>, y la <strong>psicología</strong>, lo que me permite
            abordar problemas de manera integral, equilibrando aspectos técnicos y humanos.
        </p>

        <p>
            Me motiva trabajar en proyectos que generen un impacto positivo y fomenten la <strong>transformación
            digital</strong>. Disfruto colaborar con equipos diversos para desarrollar <strong>tecnologías de
            vanguardia</strong>, especialmente en <strong>desarrollo web</strong>, <strong>programación backend</strong>
            y <strong>gestión de proyectos</strong>. Estoy comprometido con el <strong>aprendizaje continuo</strong> y
            la mejora constante de mis habilidades.
        </p>
    </div>
</Section>